#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* コンテンツが縦に並ぶように */
  justify-content: center;
  align-items: center;
  color: white; /* テキストの色を見やすくするため */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* テキストに影をつけて見やすく */

  /* グラデーションの指定 */
  /* 岡山市の晴れた空と瀬戸内海のイメージ */
  /*background-image: linear-gradient(to bottom, #87CEEB, #ADD8E6, #B0E0E6); /* スカイブルーからパウダーブルー、ライトスチールブルーへ */
  /* あるいは、夕焼けのイメージ */
  background-image: linear-gradient(to bottom, #FFD700, #FFA07A, #FF6347);
}

/* アプリのコンテンツが背景の上に重なるように調整が必要な場合 */
.app-content {
  /* 必要に応じてスタイルを追加 */
  padding: 20px;
  max-width: 800px;
  text-align: center;
}